<Alloy autoStyle="true">
	<View id="SlideMenu">
		<View class="agent-section">
			<View class="agent-info">
				<Label class="">YOUR POINT AGENT</Label>
				<Label class="pointsource-blue-text header-2">EVA JOHNSON</Label>
				<View class="agent-photo-section">
					<ImageView id="agentPhoto" image="/images/Point-Insurance-Agent-Photo-menu.png" height="100" width="100"/>
					<Label id="callIcon" class="icomoon-icon agent-icon" left="0"></Label>	
					<Label id="emailIcon" class="icomoon-icon agent-icon"></Label>	
					<Label id="mapIcon" class="icomoon-icon agent-icon" right="0"></Label>
				</View>
			</View>
			<View class="horizontal-divider"></View>
		</View>
		
		<View id="menuSection">
			<View class="menu-row menu-clickable">
				<Label class="menu-label">PROFILE</Label>
				<View class="horizontal-divider"></View>
			</View>

			<View class="menu-row menu-clickable">
				<Label class="menu-label">POLICIES</Label>
				<View class="horizontal-divider"></View>
			</View>

			<View onClick="goToPayBill" class="menu-row menu-clickable">
				<Label class="menu-label">PAY BILL</Label>
				<View class="horizontal-divider"></View>
			</View>

			<View class="menu-row menu-clickable">
				<Label class="menu-label">AUTO MAINTENANCE</Label>
				<View class="horizontal-divider"></View>
			</View>

			<View onClick="goToHomeInventory" class="menu-row menu-clickable">
				<Label class="menu-label">HOME INVENTORY</Label>
				<View class="horizontal-divider"></View>
			</View>

			<View class="menu-row menu-clickable">
				<Label class="menu-label">NOTIFICATION CENTER</Label>
				<View class="horizontal-divider"></View>
			</View>

			<View class="menu-row">
				<View class="row" id="menuSubSection1">
					<View class="menu-column columns-6 menu-clickable">
						<Label class="menu-label">SERVICES</Label>
						<View class="vertical-divider"></View>
					</View>

					<View class="menu-column columns-6 menu-clickable">
						<Label class="menu-label">FAQ</Label>
					</View>
				</View>

				<View class="horizontal-divider"></View>
			</View>	


			<View class="menu-row">
				<View class="row" id="menuSubSection2">
					<View class="menu-column columns-6 menu-clickable">
						<Label class="menu-label">PRIVACY</Label>
						<View class="vertical-divider"></View>
					</View>
					
					<View class="menu-column columns-6 menu-clickable">
						<Label class="menu-label">CONTACT US</Label>
					</View>
				</View>

			</View>
		</View>
	</View>
</Alloy>